<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born in Waikikamukau, New Zeland. He left New Zeland for England, excelled at the University of Mopery, and served in the Royal Loamshire Regiment. While in service, he invented the kanuten valve used in the processing of unobtainium for industrial use. He founded Acme Manufacturing, later acquired by Advent Corporation, to commercialize the product. Mr Kadigan is now retired and lives in Middlehampton where he raises Griadium frieda.</p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adilisicing elit, sed do eiumsod tempor incididunt ut labore et dolore magne aliqua </p>
